@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


.wrapper {
    width: 1100px;
    margin: auto;
    position: relative;
}

.wrapper img{
    font-size: 50px;
    font-weight: 800;
    float: left;
    padding-top: 10px;
    padding-bottom: 5px;
}

.menu {
    float: right;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky; 
    top: 0;
    background: #FFFFFF;
    z-index: 1;
    border-bottom:1px solid #ffffff;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

.bodySection {
    margin: 150px;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    min-height: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-info {
    color: rgb(17, 16, 16);
    max-width: 500px;
    line-height: 65px;
    padding-left: 50px;
    font-size: 18px;
}

.contact-info i {
    margin-right: 20px;
    font-size: 25px;
}

.contact-form {
    max-width: 700px;
    margin-right: 50px;
}

.contact-info,
.contact-form {
    flex: 1;
}

.contact-form h2 {
    color: rgb(27, 26, 26);
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-top: 30px;
}

.contact-form .text-box {
    border-color: rgb(145, 144, 144);
    color: rgb(3, 3, 3);
    border: none;
    width: calc(50% - 10px);
    height: 50px;
    padding: 12px;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 10px 7px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    opacity: 0.9;
}

.contact-form .text-box:first-child {
    margin-right: 15px;
}

.contact-form textarea {
    border-color: rgb(107, 107, 107);
    color: rgb(68, 67, 67);
    box-shadow: 3px 2px 20px grey;
    border: none;
    width: 100%;
    padding: 12px;
    font-size: 15px;
    min-height: 200px;
    max-height: 400px;
    resize: vertical;
    border-radius: 5px;
    box-shadow: 10px 7px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    opacity: 0.9;
}

.contact-form .send-btn {
    float: right;
    background: #2E94E3;
    color: #fff;
    border: none;
    width: 120px;
    height: 40px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    transition-property: background;
}

.contact-form .send-btn:hover {
    background: #0582E3;
}

@media screen and (max-width: 950px) {
    .contact-section {
        flex-direction: column;
    }

    .contact-info,
    .contact-form {
        margin: 30px 50px;
    }

    .contact-form h2 {
        font-size: 30px;
    }

    .contact-form .text-box {
        width: 100%;
    }
}

/*css for alert messages*/

.alert-success {
    z-index: 1;
    background: #D4EDDA;
    font-size: 18px;
    padding: 20px 40px;
    min-width: 420px;
    position: fixed;
    right: 0;
    top: 10px;
    border-left: 8px solid #3AD66E;
    border-radius: 4px;
}

.alert-error {
    z-index: 1;
    background: #FFF3CD;
    font-size: 18px;
    padding: 20px 40px;
    min-width: 420px;
    position: fixed;
    right: 0;
    top: 10px;
    border-left: 8px solid #FFA502;
    border-radius: 4px;
}

